{% include "Components/toplinks.html" %}
{% include "Components/NavBar.html" %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" style=" width: 1100px;">
                    <h1 class="mb-3">About Us</h1>
                    <hr>
                    Makaan.com, India's best property portal which involve in dealing with every aspect of the
                    consumer's needs in the real estate industry. Makaan.com is an online forum where buyers, sellers
                    and brokers/agents can exchange information about their real estate properties quickly, effectively
                    and inexpensively. At Makaan.com, you can advertise your property, search for a home/ land/ plot/
                    apartment/ browse through properties and keep yourself updated with the latest news and trends
                    making headlines in the realty sector. In addition to providing an online platform to real estate
                    developers, brokers and property owners for listing their property for sale, purchase or rent,
                    Makaan.com offers advertisement stints such as microsites, banners, home page links and project
                    pages to the clients for better visibility and branding in the market.
                </div>
                <div class="text-start mx-auto mb-5 wow slideInLeft" style=" width: 1100px;">
                    <h1 class="mb-3">Our Mission</h1>
                    <hr>
                    <p> To be the first choice for our consumers and partners in their journey of discovering, renting,
                        buying, selling and financing a home. We do that with data, design, technology, and above all
                        the passion of our people, while delivering value to our shareholders..<br />
                        Passionate about simplifying property decisions, Makkan.com offers home seekers, sellers and
                        real estate professionals an extensive online real estate ecosystem. This ecosystem innovatively
                        combines at a single stop:
                    </p>
                    <ul>
                        <li>Exhaustive search options for both renting and buying property.</li>
                        <li>Easy to use analytics.</li>
                        <li>Apartment and locality reviews.</li>
                        <li>A comprehensive and verified data base of apartments across India.</li>
                        <li>Apartment community management tools.</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>




{% include "Components/Footer.html" %}
{% include "Components/bottomlinks.html" %}