{% include "Components/toplinks.html" %}
{% include "Components/NavBar.html" %}


{% load static %}
<!-- Call to Action Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded p-3">
            <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                <div class="row g-5 align-items-center" style="position: relative;">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded w-100" src="{{obj.image.url}}" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="mb-4">
                            <h1 class="mb-3" style="position: absolute;top: 60px; ">{{obj.fullname}}</h1>
                        </div>
                        <p><i class="fa fa-check text-primary me-3"></i>Deals done - {{obj.deals}}</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Firm Name - {{obj.firm}}</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Experience - {{obj.exp}}</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Address - {{obj.exp}}</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Email - {{obj.email}}</p>
                        <a href="{% url 'contactseller' %}" class="btn btn-primary py-3 px-4 me-2"><i
                                class="fa fa-phone-alt me-2"></i>Contact
                            Agent</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call to Action End -->




{% include "Components/Footer.html" %}
{% include "Components/bottomlinks.html" %}