{% include "Components/toplinks.html" %}
{% include "Components/NavBar.html" %}

{% load static %}
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Agents</h1>
        </div>
        <div class="row g-4">
            {% for ele in agents %}
            <div class="col-lg-3 col-md-6 wow fadeInUp">
                <div class="team-item rounded overflow-hidden" style="height: 100%; width: 100%; ">
                    <div class="position-relative" style="height: 250px;">
                        <a href="{% url 'agentsdetail' ele.id %}"><img style="height: 100%; width: 100%; "
                                class="img-fluid" src="{{ele.image.url}}" alt=""></a>
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square mx-1" href="{{ele.fburl}}"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href="{{ele.twiturl}}"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square mx-1" href="{{ele.insta.url}}"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">{{ele.fullname}}</h5>
                        <small>Property Agent</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->






{% include "Components/Footer.html" %}
{% include "Components/bottomlinks.html" %}