{% include "Components/toplinks.html" %}

{% include "Components/NavBar.html" %}



{% include "Components/header.html" %}

{% include "Components/search.html" %}

{% include "Components/propertytypes.html" %}

{% include "Components/detail.html" %}

{% include "Components/listing.html" %}

{% include "Components/contact.html" %}

{% include "Components/Agents.html" %}

{% include "Components/clientsreview.html" %}




{% include "Components/Footer.html" %}

{% include "Components/bottomlinks.html" %}