{% include "Components/toplinks.html" %}
{% include "Components/NavBar.html" %}

{% load static %}
<!-- Property List Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft">
                    <h1 class="mb-3">Homes</h1>

                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary active" href="{% url 'house'  %}">All</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" href="{% url 'housesell' %}">For Sell</a>
                    </li>
                    <li class="nav-item me-0">
                        <a class="btn btn-outline-primary" href="{% url 'houserent' %}">For Rent</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    {% for ele in obj %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden" style="height: 250px;">
                                <a href="{% url 'housedetail' ele.id %}"><img style="height: 100%;width: 100%;" class="img-fluid"
                                        src="{{ele.image.url}}" alt=""></a>
                                <div
                                    class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    {{ele.typeof}}</div>
                                <div
                                    class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Homes</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">{{ele.price}}</h5>
                                <a class="d-block h5 mb-2" href="">{{ele.title}}</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ele.location}}</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i
                                        class="fa fa-ruler-combined text-primary me-2"></i>{{ele.area}}</small>
                                <small class="flex-fill text-center border-end py-2"><i
                                        class="fa fa-bed text-primary me-2"></i>{{ele.bed}}</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2
                                    {{ele.bath}}</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12 text-center wow fadeInUp">
                        <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Property List End -->


{% include "Components/Footer.html" %}
{% include "Components/bottomlinks.html" %}