{% include "Components/toplinks.html" %}
{% include "Components/NavBar.html" %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" style=" width: 1100px;">
                    <h1 class="mb-3">Privacy Policy</h1>
                    <hr>
                    This privacy policy ("Policy") explains the policy regarding the collection, use, disclosure and
                    transfer of your information by adyards and/or its subsidiary(ies) and/or affiliate(s) (collectively
                    referred to as the ("Company"), which operates various websites, including sub-sites, platforms,
                    applications, m-web platforms and other platforms (collectively referred to as "Sites") for delivery
                    of information, products, offerings and content via any mobile or internet connected device or
                    otherwise (collectively the "Services").

                    This Policy forms part and parcel of the Terms of Use and other terms on the Site ("Terms of Use").
                    Capitalized terms which have been used here but are undefined shall have the same meaning as
                    attributed to them in the Terms of Use. This policy is effective from the date and time a user
                    registers with Site and accept the terms and conditions laid out in the Site. Please read this
                    Privacy Policy and our Terms of Use carefully before using our Services.

                    adyards respects the privacy of its users and is committed to protect it in all respects. With a
                    view to offer most enriching and holistic internet experience to its users adyards offers a vast
                    repository of Online Sites and variety of community services. The information about the user as
                    collected by adyards is: (a) information supplied by users and (b) information automatically tracked
                    while navigation (Information).

                    By using adyards website or its services, you consent to collection, storage, use, transfer, share
                    and distribute the personal information you provide (including any changes thereto as provided by
                    you) for any of the services that we offer.
                </div>
                <div class="text-start mx-auto mb-5 wow slideInLeft" style=" width: 1100px;">
                    <h1 class="mb-3">1. Information Received, Collected and Stored by The Company in our databases.</h1>
                    <hr>
                    <h5 style="font-size:30px ;">Information Supplied by Users.</h5>
                    <p style="font-size:25px ; color: black;">Registration data</p>
                    <p> When you register on the Sites for the Service, we ask you to provide basic contact information
                        such as your name, sex, age, address, pin code, contact number, occupation, interests and email
                        address etc. When you register using your other accounts like Facebook, Twitter, Gmail etc. we
                        shall retrieve Information from such account to continue to interact with you and to continue
                        providing the Services.
                    </p>
                    <p style="font-size:25px ; color: black;">Subscription or paid service data</p>
                    <p>When you choose any subscription or paid service provided as part of our Services, we or our
                        payment gateway provider may collect your purchase, address or billing information, including
                        your credit card number and expiration date etc. However, when you order using an in-app
                        purchase option on any of the applications of the Company, same are handled by such mobile
                        operating system platform providers. The subscriptions or paid Services may be on auto renewal
                        mode unless cancelled. If at any point you do not wish to auto-renew your subscription, you may
                        cancel your subscription before the end of the subscription term.
                    </p>
                    <h5 style="font-size:30px ;">Voluntary information</h5>
                    <p>We may collect additional information at other times, including but not limited to, when you
                        provide feedback, comments, change your content or email preferences, respond to a survey, or
                        any communications with us.
                    </p>
                    <h1 class="mb-3">2. Information Automatically Collected/ Tracked While Navigation</h1>
                    <hr>

                    <p style="font-size:25px ; color: black; ">Cookies</p>
                    <p style="font-size:25px ;" r>
                    <p>To improve the responsiveness of the Sites for our Users, we may use "cookies", or similar
                        electronic tools to collect Information to assign each visitor a unique, random number as a User
                        Identification (User ID) to understand the User's individual interests using the identified
                        computer or device. Unless you voluntarily identify yourself (through registration, for
                        example), we will have no way of knowing who you are, even if we assign a cookie to your
                        computer or device. The only personal information a cookie can contain is information you
                        supply. A cookie cannot read data off your hard drive or device. Our advertisers may also assign
                        their own cookies to your browser (if you click on their ads etc.), a process that we do not
                        control. We receive and store certain types of Information whenever you interact with us via
                        Site or Service though your computer/laptop/netbook or mobile/tablet/pad/handheld device etc.
                    </p>
                    <p style="font-size:25px ; color: black; ">Opting out</p>
                    <p style="font-size:25px ;" r>
                    <p>If a User opts out using the Ads Settings, the unique DoubleClick cookie ID on the User's browser
                        is overwritten with the phrase "OPT_OUT". Because there is no longer a unique cookie ID, the
                        opt-out cookie .

                    </p>
                    <p>If you utilize adyards in a manner inconsistent with these terms and conditions, adyards may
                        terminate your access, block your future access and/or seek such additional relief as the
                        circumstances of your misuse may be deemed to be fit and proper.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




{% include "Components/Footer.html" %}
{% include "Components/bottomlinks.html" %}