{% include "Components/toplinks.html" %}
{% include "Components/NavBar.html" %}



<div class="margin-top-65 padding-bottom-55">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12">
                <h2>Privacy Policy</h2>
                <hr>
                <p style="text-align: justify">This website <a href="{% url 'home' %}">Makaan.com</a>, including any
                    subdomains thereof, and any other websites through which its services are made available, our
                    mobile, tablet and other smart device applications, and application program interfaces etc, ,
                    (hereinafter collectively referred to as "Makaan") is owned, hosted and operated by 69care (India)
                    Ltd (hereinafter referred to as Makaan), a company incorporated in India under the Companies Act,
                    1956 and having its registered office at B-167/2, Sanjay Palace Agra 282001. These terms and
                    conditions, privacy policy and community guidelines regulating use of these Services constitute a
                    legally binding agreement between Makaan and the User (the “Agreement”).

                </p>
                <blockquote class="margin-bottom-20">Makaan and/or any other website(s) linked to this website is an
                    online information and communications service provided to you, subject to your compliance with the
                    terms and conditions set forth below.</blockquote>
                <p style="text-align: justify">PLEASE READ THIS DOCUMENT CAREFULLY. BY ACCESSING OR USING Makaan, YOU
                    AGREE TO BE BOUND BY THE TERMS AND CONDITIONS SET FORTH BELOW. IF YOU DO NOT AGREE WITH ANY OF THESE
                    TERMS AND CONDITIONS, YOU SHOULD NOT ACCESS OR USE Makaan. IF YOU HAVE ANY QUESTIONS ABOUT THESE
                    TERMS, PLEASE <a href="mailto:kkt217@gmail.com">MAIL US</a></p>
                <p id="terms">Makaan may amend/modify these terms and conditions at any time, and such modifications
                    shall be effective immediately upon posting of the modified terms and conditions on Makaan. You may
                    review the modified terms and conditions periodically to be aware of such modifications and your
                    continued access or use of Makaan, shall be deemed conclusive proof of your acceptance of these
                    terms and conditions, as amended/modified from time to time. Makaan may also suspend the operation
                    of Makaan for support or technical upgradation, maintenance work, in order to update the content or
                    for any other reason.

                    If you utilize Makaan in a manner inconsistent with these terms and conditions, Makaan may
                    terminate your access, block your future access and/or seek such additional relief as the
                    circumstances of your misuse may be deemed to be fit and proper.
                </p>
                <h3 style="color:red">DEFINITIONS</h3>
                <ul class="list-2">
                    <li style="text-align: justify">The term Subscriber would include any person, whether an individual
                        or a legal entity who has subscribed to the Services of Makaan (whether on a paid or free
                        basis), and to whom the access to Makaan is restricted by the use of a sign in user name and a
                        password. The username and password are either allotted by Makaan or chosen by the Subscriber
                        or agreed upon by Makaan. It is made abundantly clear that only the authorized User has the
                        right to access the Services so offered by Makaan.</li>
                    <li style="text-align: justify">The term Browser/Visitor will mean and include a person who utilizes
                        any of the Services offered by Makaan, without the need or a requirement to create an account
                        i.e. visits non-restricted portions of Makaan.</li>
                    <li style="text-align: justify">The use and access to Makaan shall be subject to these terms and
                        conditions and community guidelines. For the purposes of this Agreement, any person who does not
                        have a legal or a contractual right to access the Services, but does so, will fall within the
                        definition of an 'unauthorized user' and will nevertheless be subject to the terms and
                        conditions regulating the usage of Makaan, and expressly so with respect to respecting the
                        intellectual property rights of the Makaan, and abiding by terms and conditions below
                        mentioned.</li>
                    <li style="text-align: justify">The terms 'User' and 'Customer' would include both the
                        Subscriber/Advertiser(s) and Browser/Visitor(s)</li>
                    <li style="text-align: justify">The terms 'Service' or 'Services' would mean to include the
                        interactive online information service offered by Makaan on the internet through which the user
                        may access information carried by Makaan in the database maintained by it. The terms would also
                        include to mean the search tools through which the User can search through the hosted databases
                        and information using a number of search tools that are present with a selection matching their
                        search criteria. The term would also include services by way of space used by customers for
                        advertisements such as listings and banners. Users then select one or more of the items
                        presented to view the full document/ record. The term Service does not extend to Makaan acting
                        as an agent either express or implied on behalf of any User/Customer and is merely acting as a
                        medium of information exchange.</li>
                </ul>
                <p>The term RERDA shall mean and include the Real Estate (Regulation and Development) Act, 2016 <a
                        href"http://mhupa.gov.in/User_Panel/UserView.aspx?TypeID=1535">http://mhupa.gov.in/User_Panel/UserView.aspx?TypeID=1535</a>
                    as amended read with any rules or regulations that might be framed thereunder.</p>
                <h3 style="color: red">SUBMISSION AND ADMINISTRATION OF LISTING/ADVERTISEMENTS</h3>
                <ul class="list-2">
                    <li style="text-align: justify">User agrees not to submit any property descriptions, photographs,
                        financial, contact or other information contained in each property's data to Makaan unless the
                        User submitting such a Listing/Advertisement has acquired and received all necessary rights and
                        authorizations from the owner of such property or the power-of-attorney holder, including from
                        the photographer and/or copyright owner of any photographs, to publish and advertise the said
                        Property(s) on the User's website or on Makaan. Similarly, Makaan does not take any ownership,
                        directly or indirectly towards any person whatsoever, with respect to banners hosted on its
                        website by its customers, which are strictly in the nature of sale of space by 99acre & it has
                        not carried out any independent verification on the authenticity or compliance requirements, as
                        may have been required under any law for the time being in force, of such images/ banners/ Some
                        listings may contain third party video content (“Video Content”) provided for general
                        informational purposes only and such content does not constitute a recommendation or
                        solicitation or intends to influence any type of purchase or decision. No guarantees are made by
                        Makaan or the providers of the video content as to its accuracy or completeness. In case a User
                        is covered under the RERDA, it shall obtain all requisite approvals, licenses and permits issued
                        by the competent authorities with respect to the Project/Land/Apartment/Plot in the listing, by
                        following the due process of law. Further, the User shall, at all times, remain in compliance
                        with all applicable Laws in relation to the Project/Land/Apartment/Plot in the listing. The User
                        shall disclose all material information as required by LMA and in respect of their registrations
                        under RERDA and all such property(s) submitted including the present status and nature of such
                        property and shall also disclose whether the property is free from all encumbrances or not. The
                        User shall disclose all material factual information as regarding the property being advertised,
                        its correct dimensions as also in respect of their registrations under RERDA and all such
                        property(s) submitted including the present status and nature of such property and shall also
                        disclose whether the property is free from all encumbrances or not. The User in addition shall
                        furnish a brief background of such property in respect of title, ownership and possession,
                        Makaan may also require the User to support his/her claims with respect to the status of the
                        property with such documents as may be specified by it from time to time. The User may further
                        be required to substantiate his claims as to the nature and status of the property by swearing
                        an affidavit stating the authenticity of the information/data so provided/displayed. Makaan
                        may, at its sole discretion but without any obligation to, search for such and remove properties
                        that are alleged to have been submitted in violation of this provision. In addition, Makaan may
                        require additional evidence of compliance with this provision from Users who are alleged to have
                        submitted properties or other information/data in violation of these terms and conditions.
                        Makaan will, in its sole discretion, terminate the accounts of, and refuse Service to, any User
                        who repeatedly or intentionally violates these terms and conditions. Additionally, the User
                        agrees to allow the Property listing, or any part of it, to be searched, displayed, accessed,
                        downloaded, copied, and otherwise referred to by users of the User's website or the Makaan
                        website. Makaan shall have the sole authority to choose the manner in which any Property will
                        be searchable, displayed, accessed, downloaded, copied, and otherwise used on Makaan and
                        Makaan shall have the right to modify the property listing in the exercise of its rights under
                        these terms and conditions. In addition to the terms aforementioned the User agrees.
                        <br>(a) to represent and warrant that all Properties and associated information provided by the
                        User will be accurate.
                        <br>(b) that the User will not permit the posting of a property on Makaan under a name other
                        than the name of a real estate agent who has been duly authorized and engaged by the owner of
                        the property in this regard.
                    </li>
                    <li style="text-align: justify">Makaan shall place the information relating to properties at
                        defined sections of Makaan or such other mirror or parallel site(s). Makaan reserves, in a
                        manner consistent with reasonable commercial business practices, the right to remove all or any
                        part of the Properties posted on the User's website or on Makaan without notice. Makaan
                        accepts no responsibility for checking/verifying the accuracy of reports or data files submitted
                        by the User. While Makaan shall take all reasonable efforts for data backup and business
                        resumption, the User will be solely responsible for retaining back-up copies of all information,
                        photographs and other materials furnished/submitted to Makaan.</li>
                    <li style="text-align: justify">Users, who are buying/renting property/properties through Makaan,
                        must verify details the property/properties as well as its right, title, ownership, lien etc. on
                        their own. The ‘verified’ tag visible on property/properties on Makaan merely indicates the
                        verification of the existence of the property in the manner it has been advertised. At no point
                        shall the ‘verified’ tag be construed to be a verification of any documentation, ownership
                        details, area or pricing details of the property/properties.</li>
                </ul>
                <h3 style="color: red">PAYMENT CONDITIONS</h3>
                <ul class="list-2">
                    <li style="text-align: justify">Payments for the Services offered by Makaan shall be on a 100%
                        advance basis. The payment for Service once subscribed to by the subscriber is not refundable
                        and any amount paid shall stand appropriated. Refund if any will be at the sole discretion of
                        Makaan (India) Limited. Makaan offers no guarantees whatsoever for the accuracy or timeliness
                        of the refunds reaching the Users card/bank accounts. User acknowledges and agrees that
                        Makaan/Makaan.com, at its sole discretion and without prejudice to other rights and remedies
                        that it may have under the applicable laws, shall be entitled to set off the amount paid or
                        payable by a subscriber/user against any amount(s) payable by User to Makaan under any other
                        agreement or commercial relationship towards other products/services. Makaan (India) Ltd gives
                        no guarantees of server uptime or applications working properly. All is on a best effort basis
                        and liability is limited to refund of amount only. Makaan (India) Ltd. undertakes no liability
                        for free Services. Makaan (India) Ltd. reserves its right to amend / alter or change all or any
                        disclaimers or terms of agreements at any time without any prior notice. All terms / disclaimers
                        whether specifically mentioned or not shall be deemed to be included if any reference is made to
                        them.</li>
                    <li style="text-align: justify">Makaan uses the maximum care as is possible to ensure that all or
                        any data / information in respect of electronic transfer of money does not fall in the wrong
                        hands. For completing online transactions involving payments a user is directed to a Payment
                        Gateway, Makaan does not store or keep credit card data. Since the transaction happens on a
                        third-party network not controlled by Makaan once a credit card transaction has been completed,
                        the payment information is not accessible to anyone at Makaanafter completion of the on-line
                        transaction at the Payment Gateway, this ensures the maximum security.</li>
                    <li style="text-align: justify">Makaan shall not be liable for any loss or damage sustained by
                        reason of any disclosure (inadvertent or otherwise) of any information concerning the user's
                        account and / or information relating to or regarding online transactions using credit cards /
                        debit cards and / or their verification process and particulars nor for any error, omission or
                        inaccuracy with respect to any information so disclosed and used whether or not in pursuance of
                        a legal process or otherwise.</li>
                </ul>
                <h3 style="color: red">REFUND AND FAILED TRANSACTIONS</h3>
                <p style="text-align: justify">Though Makaan payment reconciliation team works on a 24 x 7 basis,
                    Makaan offers no guarantees whatsoever for the accuracy or timeliness of the refunds reaching the
                    Subscribers card/bank accounts. This is on account of the multiplicity of organizations involved in
                    processing of online transactions, the problems with Internet infrastructure currently available and
                    working days/holidays of financial institutions. Refunds in the event of wrong/objectionable
                    property content being posted on the site would be at the discretion of Makaan.</p>
                <p style="text-align:justify">If you utilize Makaan in a manner inconsistent with these terms and
                    conditions, Makaan may terminate your access, block your future access and/or seek such additional
                    relief as the circumstances of your misuse may be deemed to be fit and proper.
                </p>
                <h3 style="color: red">RENTAL PROPERTY SERVICES TERMS</h3>
                <p style="text-align:justify">The Rental Property Services shall not be used for any purpose other than
                    payment of or charging rent or for preparing and registering rental agreement and User not transmit
                    any information received through the Rental Property Services to third parties. All responsibility
                    for information furnished and its accuracy shall reside upon the User, and the User shall be liable
                    for any liability incurred and shall hold Makaan or its affiliates and employees harmless against
                    any claim or action by any person/financial institution/regulatory bodies. By utilizing this
                    service, User agrees that Makaan may share the information provided to third parties for processing
                    on the User’s behalf, as may be required from time to time. User shall not submit any false or
                    fraudulent information through any of the Services offered.
                </p>
                <h3 style="color: red">RENTAL PAYMENT</h3>
                <p style="text-align:justify">Through Makaan, Users can choose to make rent payments via an independent
                    payment gateway, and for the purpose of making the payment, the User shall be asked to provide
                    information pertaining to the beneficiary nominated by the landlord to receive the rent
                    (“Lessor/Beneficiary”), the person who is making the said payment (“Lessee/Tenant”), including name,
                    lessor account details, rental amount, address, and other additional information as required from
                    time to time. User confirms that there exists a Lessor and Lessee relationship between the User and
                    the intended beneficiary for which said information is being shared.
                </p>
                <p style="text-align:justify">By making payment, User provides an authorization to Makaan to hold,
                    receive and disburse funds in accordance with the User’s payment instructions provided through
                    Makaan for the purposes of facilitating the transfer of money to the intended beneficiary as
                    specified by the User. In the event the processing of transaction is affected due to
                    incomplete/incorrect details being furnished by the User, Makaan reserves the right to deduct any
                    applicable service charge, processing fees, or any other fees incurred by it in the processing of
                    this transaction. Makaan or its affiliates and employees shall not be responsible for any
                    incorrect/unintended transaction, in any form or manner. Makaan may, depending on the security or
                    financial risk associated with the transaction, delay, suspend or reject a transaction.
                </p>
                <p style="text-align:justify">The amount of a transaction may be charged back (hereinafter referred as
                    “Chargeback”) if the transaction is disputed, reversed or not authorized, is unlawful or not in
                    accordance with these terms (e.g. the holder of the payment instrument used for initiating the
                    transaction raises a dispute). In case of a Chargeback, User shall immediately pay any amount owed,
                    including additional fines or penalties levied in this regard by the payment gateway or issuer. User
                    agrees to provide complete assistance in the event of any investigation in this regard.
                </p>
                <h3 style="color: red">RENTAL AGREEMENT</h3>
                <p style="text-align:justify">By accepting these terms, the User and the property owner shall consent to
                    provide any personal information that is uploaded by the User shall be so uploaded only after
                    obtaining the requisite consents from the owner(s) of the personal information for such use. The
                    User shall be solely liable in this regard and for ensuring its accuracy and completeness, as
                    required for lawful and complete registration of rental agreement in the applicable jurisdictions,
                    along with additional information as and when required.
                </p>
                <p style="text-align:justify">User agrees by using these Services, to bear all stamp duty charges or any
                    other charges levied that may arise as per applicable law, and shall not hold Makaan or its
                    affiliates and employees liable for any fines/penalties that may arise due to payment of
                    insufficient charges.
                </p>
                <h3 style="color: red">TENANT VERIFICATION</h3>
                <p style="text-align:justify">User expressly permits all details shared for verification purposes, to be
                    shared with Verification Partner (for the purposes of these terns, “Verification Partner” shall mean
                    any third party engaged for providing tenant verification services) including contact details for
                    the purpose of availing the services. User is solely responsible for verifying the quality of Tenant
                    Verification services offered by Verification Partner and Makaan shall not be liable to any party
                    for any Services provided by the Verification Partner. User is responsible for obtaining express
                    consent of the Lessee before sharing personal documents and information with the Verification
                    Partner.
                </p>
                <h3 style="color: red">USE OF INFORMATION</h3>
                <p style="text-align:justify">User agrees to treat all information obtained from the Service, including
                    listings, member directory, and any information otherwise made available to User in the Service
                    ("Content") as proprietary to Makaan. User agrees that Content reserved for members will be
                    maintained as confidential and shall be protected as a trade secret of Makaan. Makaan does not
                    ensure the accuracy of, endorse or recommend any Content and a User uses such Content at the User's
                    own risk. A User may access the listings/advertisements in the Service solely to obtain initial
                    information from which further evaluation and investigation may commence. User shall limit access to
                    and use of listings to personal and internal use, and shall not use listings obtained from the
                    Service for further distribution, publication, public display, or preparation of derivative works or
                    facilitate any of these activities in any way. User shall not use or reproduce any Content that is
                    obtained from the Service, or that is otherwise made available to User in the Service, for or in
                    connection with any other listing/advertising Service or device. User further shall not use the
                    Service provided by the company in any other manner for or in connection with any other listing
                    Service or device. Users violating these specific terms, specifically those Users searching the
                    Service in an abusive or excessive manner, by automated or manual means, shall be subject to
                    immediate termination of their membership without notice.
                </p>
                <h3 style="color: red">INTELLECTUAL PROPERTY RIGHTS</h3>
                <p style="text-align:justify">All logos, brands, trademarks and Service marks ("Marks") appearing in
                    Makaan are the properties either owned or used under license by Makaan and / or its associates.
                    All rights accruing from the same, statutory or otherwise, wholly vest with Makaan / its
                    associates. The access to Makaan does not confer upon the User any license or right to use in
                    respect of these Marks and therefore the use of these Marks in any form or manner, whatsoever is
                    strictly prohibited. Any violation of the above would constitute an offence under the prevailing
                    laws of India.
                </p>
                <p style="text-align:justify">Makaan respects the Intellectual Property Rights of all, it has and will
                    continue to adhere to all the laws applicable in India in this respect. Makaan shall protect and
                    respect the Intellectual Property Rights of the users as well as third parties to the best of its
                    ability. In a case where a User(s) are found to be using Makaan as a platform to infringe the
                    Intellectual Property Rights of others, Makaan will be free to terminate this Agreement forthwith
                    without any notice to the user.
                </p>
                <p style="text-align:justify">By allowing Users to access Makaan, Makaan grants the Users a limited,
                    non-exclusive, non-assignable, revocable license (the "License") to access and use the Services,
                    provided that the User is in compliance with the terms and conditions of the Agreement.
                </p>
                <h3 style="color: red">RESTRICTIONS/ PROHIBITIONS</h3>
                <p style="text-align:justify">The following actions will inter alia constitute a misuse of Makaan and
                    are strictly prohibited:</p>
                <ul class="list-2">
                    <li>Utilizing the Services offered by Makaan in any manner so as to impair the interests and
                        functioning of Makaan and which is non-compliant with laws and regulations including RERDA.
                    </li>
                    <li>Copying, extracting, downloading, sharing, modifying, selling, storing, distributing, making
                        derivate works from or otherwise exploiting any content, data, information, including profiles,
                        personal details, photographs and/or graphics, available on Makaan and/or any services or
                        products of the Makaan, in any manner or for any purpose which is not, consistent with in
                        accordance with the Terms of Use.</li>
                    <li>Users are expressly prohibited from using or exploiting Makaan and/or any content or data
                        provided therein for any commercial purposes such as creating alternate databases, extending
                        access to Makaan to third parties without prior written consent of the Makaan or undertaking
                        any business activity which is in competition with the business of Makaan or sharing access
                        with persons who are not contracted with the Makaan.</li>
                    <li>Reselling the products/services offered by the Makaan.</li>
                    <li>Using or attempting to use any automated program, software or system or any similar or
                        equivalent process (including spiders, robots, crawlers etc.) to access, navigate, search, copy,
                        monitor, download, scrape, crawl or otherwise extract in any manner, any data or content
                        including but not limited to adding or downloading profiles, contact details, or send or
                        redirect messages from Makaan.</li>
                    <li>Gaining or attempting to gain unauthorized access (inter alia by hacking, password “mining” or
                        any other means) to:</li>
                    <ol>(a) any portion or feature of Makaan or any of the services or products offered on or through
                        Makaan which are not intended for you.</ol>
                    <ol>(b) any server, website, program or computer systems of the Makaan or any other third parties
                        and/or Users.</ol>
                    <li>Modifying the services provided through Makaan or their appearance using any technology or
                        overlay any additional offering on top of such services or simulate Makaan’s services or its
                        functions in any manner whatsoever without explicit consent obtained in writing by approach us
                        at contact@Makaan.com</li>
                    <li>Accessing Makaan through interfaces other than those expressly provided by Makaan.</li>
                    <li>Attempting to breach or breaching any security or authentication measures set up by the Makaan
                        in relation to Makaan and/or attempting to probe, scan or test the vulnerability of the
                        Makaan’s system or network.</li>
                    <li>Scraping, downloading (including bulk- downloading), replicating or otherwise extracting any
                        information or data from Makaan (by any process, whether automatic or manual) to offer any
                        products or services which are similar to or may in any manner compete with the products or
                        services of the Makaan.</li>
                    <li>Reverse engineering, decompiling, disassembling, deciphering or otherwise attempting to do any
                        of the aforesaid or deriving the source code for the Site or Application or any related
                        technology or any part thereof.</li>
                    <li>Circumventing or attempting to circumvent any technological protections used or employed by the
                        Makaan or by any third party in order to protect the content on Makaan and/or to exclude
                        robots, spiders etc. from crawling and /or scraping content from Makaan.</li>
                    <li>Bypassing or circumventing or trying to circumvent any service limits including but not limited
                        to Search limits, Captcha limits and occurrences on different triggers</li>
                    <li>Interfering with or disrupting or attempting to interfere with or disrupt (including by using
                        any device, software or routine), the use of Makaan or any computer networks connected to
                        Makaan, by any other User;</li>
                    <li>Developing, using or attempting to use any automated program, scripts, robots, third party
                        software or system or any similar or equivalent process (including spiders, robots, crawlers,
                        browser plug-ins/extensions/add-ons, iframes on third party sites, mirroring, HTML parsers etc.)
                        to access, navigate, search, copy, monitor, download, scrape, crawl or otherwise extract or
                        modify in any manner, any data or content from Makaan without explicit consent obtained in
                        writing by approach us at contact@Makaan.com</li>
                    <li>Impersonating any other person or entity, or making any misrepresentation as to your employment
                        by or affiliation with any person or entity.</li>
                    <li>Forging headers or in any manner manipulating identifiers in order to disguise the origin of any
                        user information.</li>
                    <li>Stalking, threatening, or in any manner harassing any other User.</li>
                    <li>Imposing an unreasonable or disproportionately large load on Makaan’ infrastructure.</li>
                    <li>Engaging in “framing,” “mirroring,” or otherwise simulating the appearance or function of
                        Makaan (or any part thereof) and providing deep links into Makaan (or any part thereof)
                        without prior permission of Makaan.</li>
                    <li>Spamming Makaan or any other Users including by uploading, posting, emailing, SMS, transmitting
                        or otherwise making available either directly or indirectly, any unsolicited bulk e-mail or
                        unsolicited commercial e-mail.</li>
                    <li>Hosting, modifying, uploading, posting, transmitting, publishing, or distributing any material
                        or information that Violates any applicable local, provincial, state, national or international
                        law, statute, ordinance, rule or regulation for the time being in force.</li>
                    <li>Belongs to another person and to which you have no right.</li>
                    <li>Infringes, breaches or otherwise contravenes the rights of the Makaan or any third party,
                        including any copyright, trademark, patent, rights of privacy or publicity or any other
                        proprietary rights.</li>
                    <li>Contains computer viruses, or other computer code, files or programs designed to disrupt,
                        destroy or interfere with or limit the functioning of Makaan, or any other computer system or
                        resource</li>
                    <li>Is grossly harmful, harassing, invasive of another's privacy, hateful, disparaging, relating to
                        or encouraging money laundering or gambling in any manner, any content which is or may
                        potentially be perceived as being harmful, threatening, abusive, harassing, defamatory,
                        libelous, blasphemous, vulgar, pornographic, pedophilic, obscene, or racially, ethnically, or
                        otherwise unlawful in any manner whatsoever.</li>
                    <li>Which constitutes or encourages conduct that would constitute a criminal offence, give rise to
                        other liability, or otherwise violate applicable law.</li>
                    <li>That deceives or misleads the addressee about the origin of such messages or communicates any
                        information which is grossly offensive or menacing in nature</li>
                    <li>That harms minors in any way</li>
                    <li>That threatens the unity, integrity, defense, security or sovereignty of India, friendly
                        relations with foreign states, or public order or causes incitement to the commission of any
                        cognisable offence or prevents investigation of any offence or is insulting to any other nation.
                    </li>
                    <h3>You hereby expressly agree not to:</h3>
                    <li>Copy and distribute this information on any other server, or modify or re-use information, text,
                        graphics, sound, etc. on Makaan to any other system. No reproduction of any part of Makaan may
                        be sold or distributed for commercial gain nor shall it be modified or incorporated in any other
                        work, publication or Makaan, whether in hard copy or electronic format, including postings to
                        any other Makaan.
                    <li>Remove any copyright, trade mark or other intellectual property notices contained in the
                        original material from any material copied or printed off from Makaan or link to Makaan,
                        without our express written consent.</li>
                    <li>Violations of system or network security may result in civil or criminal liability.</li>

                    <h3 style="color: red">LINKS TO THIRD PARTY WEB SITES</h3>
                    <ul class="list-2">
                        <li>Makaan may provide links to other third-party World Wide Web sites or resources. Makaan
                            makes no representations whatsoever about any other Web site you may access through Makaan.
                        </li>
                    </ul>
                    <h3 style="color: red">DISCLAIMER AND WARRANTIES</h3>
                    <ul class="list-2">
                        <li>Makaan is an intermediary as defined under sub-clause (w) of Section 2 of the Information
                            Technology Act, 2000.</li>
                        <li>THE CONTENT OF Makaan IS PROVIDED "AS IS" AND ON AN "AS AVAILABLE" BASIS, WITHOUT
                            WARRANTIES OR REPRESENTATIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED.</li>
                        <li>Makaan AND ANY THIRD PARTY PROVIDING MATERIALS, SERVICES OR CONTENT TO THIS WEBSITE,
                            DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE INCLUDING, BUT NOT
                            LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
                            NON-INFRINGEMENT OF THIRD PARTY RIGHTS, COMPLETENESS OR ACCURACY OF THE INFORMATION, UPDATE
                            OR CORRECTNESS OF THE INFORMATION, FREEDOM FROM COMPUTER VIRUSES, OTHER VIOLATION OF RIGHTS
                            REGARDING SERVICES, PRODUCTS, MATERIAL AND CONTENTS OF Makaan.</li>
                        <li>Views expressed by the Users are their own, Makaan does not endorse the same and shall not
                            be responsible for them. No claim as to the accuracy and correctness of the information on
                            the site is made although every attempt is made to ensure that the content is not
                            misleading/ offensive/ inappropriate. In case any inaccuracy is or otherwise improper
                            content is sighted on the website, please report it to report abuse.
                        </li>
                        <li>It is solely your responsibility to evaluate the accuracy, completeness and usefulness of
                            all opinions, advice, Services, real estate and other related information listed on the
                            website. Makaan does not warrant that the access to website will be uninterrupted or
                            error-free or that defects in website will be corrected.
                        </li>
                        <li>Makaan offers no guarantee no warrantees that there would be satisfactory response or any
                            response at all, once the listing/banner is put on display. Any payments made to
                            Makaan/Makaan are solely for the purposes of display of the property advertised.
                        </li>
                        <li>Users are strongly advised to independently verify the authenticity of any Pre-Launch offers
                            received by them. Makaan does not endorse investment in any projects which have not
                            received official sanction and have not been launched by the Builder/Promoter, users dealing
                            in such projects shall be doing so entirely at their risk and responsibility.
                        </li>
                        <li>No information contained herein shall constitute an invitation or an offer to invest in
                            Makaan or any of its Affiliates. Further, nothing contained in Makaan should be construed
                            as a recommendation to use any product, process, equipment or formulation, in conflict with
                            any patent, or otherwise and Makaan makes no representation or warranty, express or implied
                            that, the use thereof will not infringe any patent, or otherwise.
                        </li>
                        <li>Makaan is controlled and operated from India and Makaan makes no representation that the
                            materials are appropriate or will be available for use in other parts of the World. If you
                            use Makaan from outside India, you are entirely responsible for compliance with all
                            applicable local laws as well as international conventions and treaties.
                        </li>
                        <li>Makaan offers products, Services, content and various other functionalities through Makaan
                            and its affiliate sites to specific regions worldwide. The Services offered in one region
                            may differ from those in other regions due to availability, local or regional laws or legal
                            impediments and other considerations/factors. Makaan does not make any warranty or
                            representation that a User in one region may also obtain the Services as provided in another
                            region. Information on Makaan may contain references to products, programs or Services that
                            are not announced or available in your country. Such references do not in any manner imply
                            that Makaan intends to announce, launch or provide such products, programs or Services in
                            your country.
                        </li>
                    </ul>
                    <h3 style="color: red">LIMITATION OF LIABILITY</h3>
                    <ul class="list-2">
                        <li>Makaan will not be liable for any damages of any kind arising out of or relating to the use
                            or the inability to use Makaan, its content or links, including but not limited to damages
                            caused by or related to errors, omissions, interruptions, defects, delay in operation or
                            transmission, computer virus, line failure and all other direct, indirect, special,
                            incidental, punitive, loss of profit, exemplary or consequential damages whether based on
                            warranty, contract, tort or any other legal theory including Force Majeure, and whether or
                            not, such organizations or entities were intimated or advised of the possibility of such
                            damages.
                            Makaan assumes no responsibility for any error, omission, interruption, deletion, defect,
                            delay in operation or transmission, communication line failure, theft or destruction or
                            unauthorized access to or alteration of User's data/information. Makaan shall not be
                            responsible for any problem or technical malfunction on-line-systems, servers or providers,
                            computer equipment, software, failure of e-mail or players on account of technical problem
                            or traffic congestion on the Internet or at any website or combination thereof, including
                            injury or damage to any User and/or Members or to any other person's computer related to or
                            resulting from participating or downloading materials/information from the website.
                        </li>
                        <li>Unless otherwise specified and notwithstanding anything contained in any other agreement or
                            arrangement, by whatever name called, the performance obligation of Makaan (service
                            provider) is to provide access of its on-line portal to the customer for the duration of the
                            subscription period & reference to any usage, by whatever name called or any other
                            performance obligation, if any, is to provide the upper limit for consumption, which by
                            itself, does not create any additional performance obligation upon Makaan.
                        </li>
                        <li>Makaan will not be liable on account of any inaccuracy of information on this web site. Any
                            breach of privacy or of the information provided by the consumer to Makaan to be placed on
                            the website by technical or any other means is not the responsibility of Makaan and Makaan
                            does not guarantee confidentiality of information provided to it by any person
                            acquiring/using all/any information displayed on Makaan website or any of its other
                            websites / domains owned and operated by Makaan.
                        </li>
                    </ul>
                    <h3 style="color: red">TERMINATION</h3>
                    <ul class="list-2">
                        <li>Makaan may, without notice in its sole discretion, and at any time, terminate or restrict
                            your use or access to Makaan (or any part thereof) for any reason, including, without
                            limitation, that Makaan based on its judgement and perception believes you have violated or
                            acted inconsistently with the letter or spirit of these terms and conditions or any
                            applicable law.
                        </li>
                    </ul>
                    <h3 style="color: red">INDEMNIFICATION</h3>
                    <ul class="list-2">
                        <li>Submissions and unauthorized use of any information(s)/materials contained on Makaan may
                            violate copyright laws, trademark laws, the laws of privacy and publicity, certain
                            communications statutes and regulations thereto and other applicable laws, statutes and its
                            rules and regulations. You alone are responsible for your actions or the actions of any
                            person using your user name and/or password.
                        </li>
                        <li>You agree to defend, indemnify, and hold harmless, Makaan and/ or its associates,
                            subsidiaries, their officers, directors, employees, affiliates, licensees, business partners
                            and agents, from and against any claims, actions or demands, including without limitation
                            reasonable legal and accounting fees, alleging or resulting from your use of Makaan
                            material or your breach of these terms and conditions or any applicable law.
                        </li>
                        <li>Makaan will not be party to any legal proceedings between parties contracted through these
                            Services. In case Makaan is sought to implicated in any legal proceedings, costs will be
                            recovered from the party that names Makaan as a party to such proceedings. Makaan shall
                            abide with any court order served on it through due process.
                        </li>
                    </ul>
                    <h3 style="color: red"> PRIVACY POLICY</h3>
                    <ul class="list-2">
                        <li>The Privacy Policy of the Platform explains how we may use your personal data, we will at
                            all times respect and ensure adherence to the privacy policy, additionally various settings
                            are provided to help you to be able to control the manner in which others may be able to
                            view your information as chosen by you to be displayed on your profile and the manner in
                            which you may have chosen to be contacted. Any feedback provided by a User shall be deemed
                            as non-confidential to the user.
                        </li>
                    </ul>
                    <h3 style="color: red">Terms of use for Users</h3>

                    <p style="text-align:justify">When you indicate your interest in a Real Estate Listing or express
                        interest in related services on Makaan, you are sending your profile consisting of your
                        personal details and application information including relevant documents to Makaan, and you
                        are requesting and authorizing Makaan to make available such information contained in your
                        response to the applicable Advertiser/seller(s) for such Real Estate Listing(s). You provide
                        consent for your data to be provided to such Advertisers/service providers, who may further
                        contact you over the phone/email/what’s app etc. Please note that our privacy policy does not
                        govern the use of your data by third parties once it is shared.
                        In addition, by using Makaan, you agree that Makaan is not responsible for the content of the
                        Advertiser/seller’s/broker’s/builder’s application form, messages, screener questions, testing
                        assessments; required documents, or their format or method of delivery.
                        You consent to your application, documents and any responses sent to you by the
                        Advertiser/seller or vice versa through Makaan being processed and analyzed by Makaan
                        according to these terms of use and Makaan’s Privacy Policy. Makaan shall store and process
                        such information regardless of whether a Real Estate that had been advertised earlier continues
                        to remain available or not. Makaan may use your application materials (including public profile
                        consisting of your personal details and responses to advertiser/seller’s questions) to determine
                        whether you may be interested in a Real Estate Listing, and Makaan may reach out to you about
                        such Real Estate Listing.
                        Information you post in public areas of Makaan sites or applications or make visible in your
                        profile, may be accessed, used, and stored by others around the world, including those in
                        countries that might not have legislation that guarantees adequate protection of personal
                        information as defined by your country of residence. While Makaan takes measures to safeguard
                        your information from unauthorized access or inappropriate use, Makaan does not control these
                        third parties and we are not responsible for their use of information you give to us.
                        Accordingly, you should not post sensitive information or any other information you would not
                        want made public, to any portion of Makaan or application or to a public website.
                        Additionally, it shall be the sole responsibility of the user to ensure that it uses the
                        ‘Opt-out’ options as it deems fit to debar / refuse access of the data fed by it, to dealers.
                        Makaan shall not be responsible for such insertions / data being accessed by its subscribers or
                        users whose access has not been specifically blocked /debarred by the user while using the
                        privacy settings.
                        In order to use Makaan, you may sign in using your Facebook/Google login. If you do so, you
                        authorize us to access and use certain Facebook/Google account information, including but not
                        limited to your public Facebook profile and posts. For more details regarding the information,
                        we collect from you and how we use it, please visit our Privacy Policy.
                        Terms of conditions specific for dealers/ builders/ banks/Payment Gateways</p>

                    <p style="text-align:justify">You will comply with all applicable Data Protection Laws in relation
                        to the Processing of personal data and not process personal data which is irrelevant, in an
                        unlawful manner and excessive with regard to agreed purposes as defined in the privacy policy
                        and these terms and conditions
                    <ul class="list-2">
                        <li>You shall implement adequate technical and organizational controls to protect the shared
                            personal data obtained from Makaan against unauthorized or unlawful processing and against
                            accidental loss, destruction, damage, alteration or disclosure</li>
                        <li>You agree to provide reasonable assistance as is necessary to facilitate the handling of any
                            Data Security Breach (as applicable the privacy law as applicable) in an expeditious and
                            compliant manner</li>
                        <li>You agree that the responsibility for complying with a request of an individual with respect
                            to his/her personal data lies with the Party which holds/processes the personal data
                            collected/shared</li>
                        <li>You warrant and represent that the institution shall not disclose or transfer Personal Data
                            obtained from Makaan to any sub-processors without ensuring that adequate and equivalent
                            safeguards to the Personal Data.</li>
                        <li>You shall retain or process shared personal data for no longer than is necessary to carry
                            out the agreed purposes.
                    </ul>
                    <h3 style="color: red">ARBITRATION</h3>
                    <p style="text-align:justify">If any dispute arises between a user/ users and Makaan arising out of
                        use of the website or thereafter, in connection with the validity, interpretation,
                        implementation or alleged breach of any provision of these terms and conditions, the dispute
                        shall be referred to a sole Arbitrator who shall be an independent and neutral third party
                        identified by Makaan. Decision of the Arbitrator shall be final and binding on both the parties
                        to the dispute. The place of arbitration shall be Delhi. The Arbitration & Conciliation Act,
                        1996, shall govern the arbitration proceedings.
                    </p>
                    <h3 style="color: red">SEVERABILITY OF PROVISIONS</h3>
                    <p>THIS AGREEMENT between you and Makaan governs your use of Makaan. If any provision of these
                        Makaan terms and conditions or part thereof is inconsistent with or is held to be invalid/void
                        by or under any law, rule, order or regulation of any Government or by the final adjudication of
                        any court, such inconsistency or invalidity shall not affect the enforceability of any other
                        provision of the terms and conditions.
                    </p>
                    <h3 style="color: red">WAIVER</h3>
                    <p style="text-align:justify">The failure of Makaan to exercise or enforce any right or provision
                        of the terms and conditions of use shall not constitute a waiver of its right to enforce such
                        right or provision subsequently.
                    </p>
                    <h3 style="color: red">GOVERNING LAW</h3>
                    <p style="text-align:justify">By accessing Makaan you agree that the laws prevailing in India shall
                        be the governing laws in all matters relating to Makaan as well as these terms and conditions.
                    </p>
                    <h3 style="color: red">JURISDICTION</h3>
                    <p style="text-align:justify">Courts at New Delhi, India alone shall have the exclusive jurisdiction
                        in all matters relating to Makaan and these terms and conditions, irrespective of the territory
                        and jurisdiction of your access to Makaan.
                    </p>











                    {% include "Components/Footer.html" %}
                    {% include "Components/bottomlinks.html" %}