<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <title>Verification</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}" />

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
</head>

<body>
    <div class="main" style="background-color: #00b98e;">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-form">
                        <div class="form-title">Verification</div>
                        <form method="POST" class="register-form" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="your_name"><i class="fa-solid fa-key"></i></label>
                                <input type="text" name="otp" id="otp" placeholder="Enter OTP" required class="font" />
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" id="font" class="form-submit font" value="Verify" required />
                            </div>
                            {% if resend %}
                            <a href="resendotp">Resend otp </a>
                            {% endif %}
                        </form>
                        {% if otp %}
                        <div id="alertbtn" class="alert alert-danger">Wrong Otp</div>
                        {% endif %}

                        {% if time %}
                        <div id="alertbtn" class="alert alert-danger">Otp Expired !</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/signinmain.js' %}"></script>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>