{% load static %}
<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-transparent">
  <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
    <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center text-center">
      <div class="icon p-2 me-2">
        <img class="img-fluid" src="{% static 'img/icon-deal.png' %}" alt="Icon" style="width: 30px; height: 30px" />
      </div>
      <h1 class="m-0 text-primary">Makaan</h1>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto">
        <a href="" class="nav-item nav-link active">Home</a>
        <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
        <a href="{% url 'contactus' %}" class="nav-item nav-link">Contact</a>
        <a href="admin" class="nav-item nav-link">Admin Login</a>
      </div>
      <a href="{% url 'addproperty' %}" class="btn btn-primary px-3 d-none d-lg-flex">Add Property</a>
    </div>
  </nav>
</div>
<!-- Navbar End -->